input:focus+.autocompleteItemList {
    display: block;
    box-shadow: 1px 1px 1px #ccc;
}

.input {
    width: 100%;
    box-sizing: border-box;
}

.autocompleteItemList{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
    overflow-y: scroll;
    box-sizing: border-box;
}

.autocompleteItem {
    cursor: pointer;
}

.autocompleteItem:hover,
.autocompleteItemList .selected {
    background: #ccc;
}

