.autocompleteItemList{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
    max-height: 6em;
    overflow-y: scroll;
    box-sizing: border-box;
}

.autocompleteItem {
    cursor: pointer;
}

.autocompleteItem:hover {
    background: #ccc;
}
